@import 'variables';

body {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 300px;
}

#player-controls {
    flex-direction: column;
    position: relative;
}

#player-controls::after {
    background-color: $light-gray;
    content: "";
    top: 2 * $base-size;;
    bottom: 2 * $base-size;
    right: 0;
    position: absolute;
    width: 1px;
    transition: top $base-duration, bottom $base-duration, background-color $base-duration;
}

#player-controls:hover::after {
    background-color: #000;
    top: $base-size;
    bottom: $base-size;
}

#track-controls {
    flex-grow: 1;
    min-width: 0;
}

#nowPlaying {
    overflow: hidden;
    padding: $base-size;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

input[type="range"]:hover::-moz-range-thumb {
    background-color: $light-gray;
}

input[type="range"]:hover {
    cursor: pointer;
}

#volumeInput {
    width: 90px;
}
