@import 'variables';

body {
    height: 100vh;
}

#playlist {
    height: 100%;
    overflow-y: auto;
    margin-top: $base-size;
    padding: 0 $base-size;
}

.playlist-item {
    border: solid 1px $light-gray;
    border-radius: $base-size;
    cursor: pointer;
    display: flex;
    margin: 0 $base-size $base-size;
    overflow: hidden;

    * {
        pointer-events: none;
    }

    .index {
        align-items: center;
        border-right: solid 1px $light-gray;
        display: flex;
        justify-content: center;
        padding: $base-size;
    }

    .controls {
        align-items: center;
        border-left: solid 1px $light-gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        pointer-events: auto;

        * {
            pointer-events: auto;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        min-width: 0;
        padding: $base-size;
    }

    .title, .artist, .filename {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .playlist .title {
        /* Currently unused */
    }

    .by {
        /* Currently unused */
    }

    .artist {
        /* Currently unused */
    }

    .filename {
        /* Currently unused */
    }
}

.playlist-item.playing, .playlist-item.playing * {
    border-color: #000;
}

#playlist-empty-message {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

#add-to-playlist {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px dashed $light-gray;
    font-size: 1.1em;
    margin: $base-size;
    padding: $base-size;
}

#add-to-playlist:hover, #add-to-playlist.dragover {
    background-color: rgba(204, 204, 204, 0.3);
    border: 3px dashed #000;
    cursor: pointer;
}

#add-to-playlist:active {
    background-color: rgba(153, 153, 153, 0.3);
    border: 3px dashed #000;
}

#add-to-playlist * {
    pointer-events: none;
}
