body {
    height: 100vh;
}

#playlist {
    height: 100%;
    overflow-y: auto;
    margin-top: 5px;
}

.playlist-item {
    display: flex;

    border: solid 1px #CCC;
    border-radius: 4px;
    margin: 0 5px 5px;
    overflow: hidden;
}

.playlist-item .index {
    border-right: solid 1px #CCC;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4px;

}

.playlist-item .info {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: 5px;
}

.playlist-item .title, .playlist-item .artist, .playlist-item .filename {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist .title {
    /* Currently unused */
}

.playlist-item .by {
    /* Currently unused */
}

.playlist-item .artist {
    /* Currently unused */
}

.playlist-item .filename {
    /* Currently unused */
}

#playlist-empty-message {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

#add-to-playlist {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px dashed #CCC;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
}

#add-to-playlist:hover, #add-to-playlist.dragover {
    background-color: rgba(204, 204, 204, 0.3);
    border: 3px dashed #000;
    cursor: pointer;
}

#add-to-playlist:active {
    background-color: rgba(153, 153, 153, 0.3);
    border: 3px dashed #000;
}

#add-to-playlist * {
    pointer-events: none;
}

.hidden {
    display: none !important;
}
