body {
    background-color: #fff;
    padding: 10px;
    width: 250px;
}

#title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

#now-playing {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 3px;

    color: #000;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: 32px;
}

.button:hover {
    background-color: rgba(204, 204, 204, 0.3);
}

.button.toggled {
    background-color: rgba(204, 204, 204, 0.3);
}

.button-group {
    display: flex;
    justify-content: space-around;
}
