body {
    background-color: #fff;
    width: 222px;
}

#now-playing {
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button {
    color: #000;
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    width: 37px;
}

.button:hover {
    background-color: rgba(204, 204, 204, 0.3);
}

.button:active, .button.toggled {
    background-color: rgba(153, 153, 153, 0.3);
}

.button-group {
    display: flex;
}
