body {
    padding: 10px;
}

#title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 3px;

    color: #000;
    display: inline-block;
    font-size: 30px;
    padding: 5px;
}

.button:hover {
    background-color: rgba(204, 204, 204, 0.3);
}

.button-group {
    display: flex;
    justify-content: space-around;
}
