body {
    background-color: #fff;
    width: 271px;
}

#nowPlaying {
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

input[type="range"]:hover::-moz-range-thumb {
    background-color: #CCC;
}

#volumeInput {
    width: 60px;
}

#currentTimeInput {
    width: 100%;
}

.button {
    color: #000;
    display: inline-block;
    font-size: 23px;
    padding: 5px;
    text-align: center;
    width: 34px;
}

.button.small {
    font-size: 18px;
    width: 27px;
}

.button:hover {
    background-color: rgba(204, 204, 204, 0.3);
}

.button:active, .button.toggled {
    background-color: rgba(153, 153, 153, 0.3);
}

.button-group {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.icon-stack {
    position: relative;
}

.icon-stack .fa.stack-se {
    font-size: 0.5em;
    position: absolute;
    bottom: 0px;
    right: 3px;
    text-shadow: #fff -1px -1px, #fff 1px 1px;
}
