body {
    background-color: #fff;
    width: 271px;
}

#nowPlaying {
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

input[type="range"]:hover::-moz-range-thumb {
    background-color: #CCC;
}

input[type="range"]:hover {
    cursor: pointer;
}

#volumeInput {
    width: 60px;
}
